html {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    background-color: #3c3639;
}

#githublink {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #e7af3f;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 0px 0px -2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

#githublink:hover {
    color: #cc6aba;
}

#btncenter {
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*margin: -10px -10px -10px -10px;*/
}

#btncenterGit {
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#copybutton {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 10px;
    background-color: #a07a2e;
    font-family: "Poppins";
    font-size: 22px;
    border-radius: 6px;
    border: none;
    outline: inherit;
    transition: 0.1s;
}

#copybutton:hover {
    background-color: #c2902e;
}

#mobilebutton {
    display: inline-block;
    border: 1px solid antiquewhite;
    background-color: none;
    color: #e7af3f;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#header1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    text-shadow: 2px 2px 1px black;
    color: #e7af3f;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#paragraph1 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px;
    color: #f0deba;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
}

#paragraph2 {
    width: 60%;
    text-align: center;
    font-family: monospace;
    font-size: 19px;
    margin: 0 auto;
    padding: 10px 10px;
    color: #f0deba;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
}

#topnav .active {
    background-color: #8d6b28;
    color: antiquewhite;
}

#topnav {
    text-align: center;
    margin-left: -35px;
}

#topnav li {
    display: inline;
}

#topnav a {
    padding: 8px 20px;
    margin-top: 10px;
    color: #e7af3f;
    text-decoration: none;
    /*transition-duration: 0.5s;*/
    border-radius: 4px;
    text-transform: uppercase;
}

a:hover {
    background-color: #8d6b28;
}

.containerArt {
    max-width: 110rem;
    margin: 0 auto;
    padding-top: 4vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.containerFood {
    display: none;
    max-width: 110rem;
    margin: 0 auto;
    padding-top: 4vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.containerPics {
    display: none;
    max-width: 110rem;
    margin: 0 auto;
    padding-top: 4vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    /* box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
    overflow: hidden;
    flex-basis: 250px;
    max-width: 400px;
    border-radius: 8px;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* scroll up button */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 2px solid black;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #372b52;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(0, 0, 0);
    /* Add a dark-grey background on hover */
}

/* mobile opt */

@media only screen and (max-width: 600px) {
    #topnav {
        text-align: center;
        font-size: small;
        margin-top: 25px;

    }

    #topnav a {
        padding: 10px 10px;
    }

    #header1 {
        font-size: x-small;
        margin-top: 20px;
    }

    #paragraph1 {
        font-size: smaller;
        margin-bottom: -1vh;
    }

    #paragraph2 {
        font-size: smaller;
    }

    #githublink {
        font-size: 14px;
    }

    #btncenter{
        margin-bottom: 1px;
    }

    #artBtn {
        font-size: 16px;
    }

    #foodBtn {
        font-size: 16px;
    }

    #picsBtn {
        font-size: 16px;
    }

}

@media screen and (min-width: 601px) {
    #mobilebutton {
        display: none;
    }
}

.imageBtn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 10px;
    background-color: #a07a2e;
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 22px;
    border-radius: 6px;
    border: none;
    outline: inherit;
    transition: 0.2s;
}

.imageBtn:hover {
    background-color: #c2902e;
}